*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #111;
    position: relative;
}
.ele{
    height: 120px;
    width: 100%;
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.ele h1{
    font-size: 6vw;
    position: relative;
    z-index: 9;
    mix-blend-mode: difference;
}
.ele img{
    height: 120px;
    width: 120px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    border-radius: 50%;
    /* transform: translate(-50%,-50%); */
    opacity: 0;
    transition: all linear 0.3s;
}